<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Table</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/js/script.js"></script>
</head>
<body>
<h1>Your data</h1>

{% if error %}
    <div id="error_message">{{ error|safe }}</div>
    <button id="back" onclick="location.href='/'">Back</button>
{% endif %}
    <!-- ... Table and Data... -->
    <table class="data_table">
        <tr>
            {% for header in headers %}
                <th class="header1" id="{{ header }}">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for entry in entries %}
            {% set current_index = loop.index %}
            <tr id="{{ current_index }}">
                {% for header in headers %}
                    <td class={{header}} id="{{ header ~ current_index }}">{{ entry[header] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div>
        <label for="inputField">Your input:</label>
    </div>
    <div>
        <input type="text" name="inputField" id="inputField" {% if error %} class="error_field" value={{ filters }} {% endif %}>
    </div>
    <br>
        <button id="fetch" onclick="location.href='/?' + document.getElementById('inputField').value.toLowerCase()">Fetch</button>
        <button id="insert" onclick="location.href='/insert_data?data=' + document.getElementById('inputField').value.toLowerCase()">Insert</button>
        <button id="update" onclick="location.href='/update_data?data=' + document.getElementById('inputField').value.toLowerCase()">Update</button>
        <button id="delete" onclick="location.href='/delete_data?' + document.getElementById('inputField').value.toLowerCase()">Delete</button>
    <br>
    <hr>
    <br>
    <span style="font-size: x-small; ">
    <table class="example_table">
        <tr><th colspan="2" class="header2">Input examples:</th></tr>
        <tr><td>Fetch:</td> <td>street=landstr <b>or</b> name=otto | If empty all data will be displayed.</td></tr>
        <tr><td>Insert:</td> <td>{"name": "schmidt", "street": "dorfstr"}</td></tr>
        <tr><td>Update:</td> <td>{"street": "Donaustr"}, **{"name": "maier"}</td></tr>
        <tr><td>Delete:</td> <td>name=otto <b>or</b> street=donaustr</td></tr>
    </table>
    </span>
    <br>
    <br>
<!-- ... Reset button ... -->
        <button id="reset-button" onclick="reset_data()">Reset</button>
</body>
</html>
