<!DOCTYPE html>
<html lang="de">
<head>
    <title>CSV Table</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
<h1>Ihre Daten</h1>

{% if error %}
    <div id="error_message">{{ error|safe }}</div>
    <button onclick="location.href='/'">Back</button>
<!-- ... Tabelle und Daten ... -->
{% else %}
    <table>
    <tr>
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </tr>
    {% for entry in entries %}
    <tr>
        {% for header in headers %}
            <td>{{ entry[header]|capitalize }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
<br>
<list>
    <ul>Inster Beispiel: {"name": "schmidt", "street": "Dorfstr"}</ul>
    <ul>Update Beispiel: {"name": "maier", "street": "Donaustr"}</ul>
    <ul>Delete Beispiel: otto</ul>
</list>
<br>
    <div>
        <label for="inputField">Ihre Eingabe:</label>
        <input type="text" id="inputField" name="inputField">
    </div>
<br>
    <button onclick="location.href='/fetch_data?filter=' + document.getElementById('inputField').value.toLowerCase()">Fetch</button>
    <button onclick="location.href='/insert_data?data=' + document.getElementById('inputField').value.toLowerCase()">Insert</button>
    <button onclick="location.href='/update_data?data=' + document.getElementById('inputField').value.toLowerCase()">Update</button>
    <button onclick="location.href='/delete_data?filter=' + document.getElementById('inputField').value.toLowerCase()">Delete</button>
{% endif %}
</body>
</html>
